<div id="poll">
<% poll_results_path ||= 'spree/polls/poll_results' %>
<% new_poll_path ||= 'spree/polls/new_poll' %>

<%# have we?:
      1) already said "It's ok to view the results without voting"
      2) already voted in this poll
%>

<% @poll = Spree::PollVote.find_by(id: session[:vote_id]).try(:poll) || Spree::Poll.find_by(id: session[:show_poll_results_without_voting_id]) %>
<% if @poll %>
  <%= render poll_results_path, poll: @poll %>
<% else %>
  <%= render new_poll_path %>
<% end %>

</div>
